<div class="container">
  <h3 class="text-center" id="about-me-header">About Me</h3>
  <div class="text-center">
    <img src="assets/img/IMG_1646.jpg" alt="Profile Picture" id="profile-picture">
  </div>
  <div class="container" id="about-me-blurb">
    <p>I am a Full-stack Software Engineer experienced in designing and building single page web applications. I specialize in JavaScript, React, Ruby, Rails and SQL. I previously worked in the Biotechnology industry as a senior manufacturing specialist. I know how to work with a team to efficiently execute and troubleshoot complex processes. I pride myself in my ability to solve difficult problems and communicate effectively.</p>
    <p>In my spare time I enjoy hiking, exploring, going to concerts, and playing Stardew Valley.</p>
  </div>
</div>
